/*** General Styles ***/

.container-fluid {
    padding: 15px; /* Espacio alrededor del contenedor */
  }
  
  .meta-section {
    position: relative;
  }
  
  .table {
    width: 100%; /* Asegura que la tabla ocupe todo el ancho disponible */
    margin-bottom: 15px; /* Espacio debajo de la tabla */
  }
  
  .table th, .table td {
    padding: 8px; /* Espaciado en las celdas de la tabla */
  }
  
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #f2f2f2; /* Color de fondo alterno para filas de tabla */
  }
  
  .btn-group {
    display: flex;
    gap: 5px; /* Espacio entre los botones */
  }
  
  .progress {
    height: 25px;
    background-color: rgb(177, 162, 162);
  }
  
  /*** Responsive Styles ***/
  
  /* Ajustes para pantallas medianas y grandes */
  @media (min-width: 768px) {
    .modal-dialog {
      max-width: 80%; /* Ancho máximo para modales en pantallas medianas */
    }
  }
  
  /* Ajustes para pantallas pequeñas */
  @media (max-width: 767px) {
    .btn-group {
      flex-direction: column; /* Los botones se apilan verticalmente */
    }
  
    .modal-dialog {
      max-width: 90%; /* Ancho máximo para modales en pantallas pequeñas */
    }
  
    .container-fluid {
      padding: 10px; /* Menor espaciado en pantallas pequeñas */
    }
  
    .table th, .table td {
      padding: 6px; /* Menor espaciado en pantallas pequeñas */
    }
  
    .modal-body {
      padding: 10px; /* Menor espaciado en el cuerpo del modal */
    }
  
    .modal-header, .modal-footer {
      padding: 10px; /* Menor espaciado en el encabezado y pie del modal */
    }
  
    .col-xl-6 {
      flex: 1 1 100%; /* Columna ocupa todo el ancho en pantallas pequeñas */
      max-width: 100%; /* Máximo ancho de la columna */
    }
  }
  