@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

body {
    background-color: #138848;
}

.header {
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 5px 10%;
    border-bottom: solid grey;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.header .logo {
    cursor: pointer;
}

.header .logo img {
    height: 50px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover {
    transform: scale(1.2);
}

.header .nav-links {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

.header .nav-links li {
    display: inline-block;
    padding: 0 20px;    
}

.header .nav-links li:hover {
    transform: scale(1.1);
}

.header .nav-links a {
    font-weight: 700;
    color: #eceff1;
    text-decoration: none;    
}

.header .nav-links li a:hover {
    color: #205796;
}

.header .btn button {
    margin-left: 20px;
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover {
    background-color: #e2f1f8;
    color: #205796;
    transform: scale(1.1);
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    height: 3px;
    width: 25px;
    background-color: #fff;
    margin: 4px 0;
    transition: all 0.3s ease;
}

@media (max-width: 768px) {
    .header {
        padding: 5px 5%;
    }

    .header .nav-links {
        position: absolute;
        top: 70px;
        left: -100%;
        width: 100%;
        height: calc(100vh - 70px);
        background-color: #000;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;
    }

    .header .nav-links.active {
        left: 0;
    }

    .header .nav-links li {
        padding: 20px 0;
    }

    .menu-toggle {
        display: flex;
    }

    .menu-toggle.toggle .bar:nth-child(1) {
        transform: translateY(7px) rotate(45deg);
    }

    .menu-toggle.toggle .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.toggle .bar:nth-child(3) {
        transform: translateY(-7px) rotate(-45deg);
    }
}
